{%extends 'base.html' %}


{%block content%}

 {%load staticfiles%}


 <div style="float: right;">
        <img style="width: 840px;height: 375px;"
            src="{%static 'homeph.jpg'%}">
    </div>

    <div
        style="display: inline-block;background-color:rgb(252, 144, 104);border-radius: 500px;  margin-left: 30px; margin-top: 10px;">
        <p id="yoyo"> Your <br>Medications...<br>delivered</p>
    </div>
    <p style="font-weight: bold;font-family:Arial, Helvetica, sans-serif; font-size: 25px;margin-left: 30px;">InstaHeal
        is a full-service pharmacy designed around your life</p>

</body>

</html>

{%endblock%}