#top{
    background-color: darkslategray;
    height: 100px;

}
#topp{
    background-color: rgb(96, 202, 197);
    height: 80px;
    
}
a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}
input.search{
    font-size: 15px;
    height: 40px;
    width: 300px;
    margin-left: 22%;
    border-radius: 500px;
    border-color: black;
}

#main-block{
    float:left;
    width:17%;
    box-sizing: border-box;
    margin-left: 10%;
    height: 2000px;
}


.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.column a{
    color: black;
    font-size: 20px;
}

/* Clear floats after image containers */
.sidebar::after {
  content: "";
  clear: both;
  display: table;
}






/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


