#top{
    background-color: darkslategray;
    height: 100px;


}
#topp{
    background-color: rgb(96, 202, 197);
    height: 80px;

    
}
#cart:hover{
       color:crimson;
}
a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}
input.search{
    font-size: 15px;
    height: 40px;
    width: 300px;
    margin-left: 22%;
    border-radius: 500px;
    border-color: black;
}
#yoyo{
    color: white;
    margin-left: 50px; 
    font-size: 3em;
    font-weight: bold;
}

#f{ 
    display: inline-block;
    width: 30%;
    margin-left: 15%;
    font-weight: bold;
}

#signupwriting{
    
    color: white;
    margin-left: 10%;
    font-size: 3em;
    font-weight: bold;

}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(96, 202, 197);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left:100px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content a:hover {color: black;}
.dropdown-content a:hover {text-decoration:none;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
    